body{
    background: #fff;
    padding-top: 0 !important;
}

#bannerTopBar{
    position: absolute !important;
    background-color: transparent!important;
    /*background-color: rgba(0,0,0,1);*/
    padding-top: 20px;
    padding-bottom: 20px;
}

#bannerTopBar.black{
    background-color: #000;
}

#bannerTopBar #links a.active{
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #000 !important;
}

#about{
    position: relative;
}

#about section{
    position: relative;
    overflow: hidden;
    color: #000;
}

#about section.fill{
    height: 100vh;
}

#about section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.1;
    pointer-events: none;
}

#about section .text{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#about section h1{
    font-size: 4.5em;
    font-family: "Gotham ultra", sans-serif;
    padding-top: 75px;
    margin-left: 160px;
    margin-bottom: 40px;
    /*text-transform: uppercase;*/
}
#about section h1.spaced{
    letter-spacing: 0.125em; line-height: 1;
}

#about section .atop{
    font-size: 0.25em;
    font-family: "Gotham medium", sans-serif;
    display: block;
    letter-spacing: 0;
    color: #ff4343;
}

#about section.white{
    color: #fff;
}

#about section.light h1{
    font-family: "Gotham light", sans-serif;
    font-weight: 100;
}

#aboutUsText{
    margin-left: auto;
    padding: 0 5em;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 1em;
}

#visionMission hr{
    height: 150px; margin: 0 30px; align-self: center; margin-bottom: 40px; border: none; border-right: 1px solid #333
}

#vision, #mission{
    height: 100%;
    min-width: calc(50% - 30px);
    max-width: calc(50% - 30px);
    text-align: center;
}

#vision h2, #mission h2{
    padding-top: 0.3em;
    font-size: 1.5em;
    font-family: "Gotham ultra", sans-serif;
    margin-bottom: 20px;
}

#vision p, #mission p{
    font-size: 2.3em;
    font-family: "Gotham light", sans-serif;
    line-height: 1.6em;
    padding: 0 1em;
}

#ourGenesis{
    display: none;
}

#valuesObjectives{
    /*padding: 5em;*/
}

#values, #objectives{
    box-sizing: border-box;
    /*padding: 2em 5em;*/
    position: relative;
    width: 50%;
    padding-top: 4.3em;
    display: inline-block;
}

#values{
    padding-bottom: 2em;
}

#objectives{
    /*padding-top: 2em;*/
}

#values h2, #objectives h2{
    display: block;
    font-size: 5.5em;
    font-family: "Gotham ultra", sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0.5em 50px;
    /*text-align: center;*/
    opacity: 0.1;
}

#values ul, #objectives ul{
    font-size: 1.5em;
    line-height: 1.3em;
    font-family: "Gotham light", sans-serif;
    padding: 2.3em 2em;
    margin-left: 30px;
}

#values ul{
    /*padding: 1em 2em;*/
}

#values ul li, #objectives ul li{
    list-style-type: circle;
    padding: 8px 0;
}

#ourFocus{
    /*text-align: center;*/
    padding: 6em 14em;
}

#ourFocus h3{
    font-family: "Gotham light", sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
    color: #777;
}