html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;

    --app-main-color: #e6544e;
    --app-shade-color: #FF4242;
    --app-accent1-color: #FF837E;
    --app-accent2-color: #FFB4B4;
    --app-light-color: #ffe1d0;
    --app-contrast-color: #ffed75;
    --app-cool-white: #f9f9f9;
}

@font-face{
    font-family:Paint;
    src:url(../fonts/Age.otf);
    /*src:url(../fonts/Gipsiero_Kracxed.otf) format("embedded-opentype"),*/
    /*url(../fonts/Gipsiero_Kracxed.otf) format("woff2"),*/
    /*url(../fonts/Gipsiero_Kracxed.otf) format("woff"),*/
    /*url(../fonts/Gipsiero_Kracxed.otf) format("truetype")*/
}

@font-face {
    font-family: JohnHancockCP;
    src:url(../fonts/CODEBold.otf);
}


.faded-bg{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0.1;
    background-size: cover;
    background-position: center;
}

.header-text{
    font-family: Paint, serif;
    font-size: 3em;
    letter-spacing: 10px;
}

.hidden{
    display: none;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    /*color: #e74c3c;*/
    color: #2e3436;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 8px;
    padding: 0.5em 1.7em;
    padding-top: 0.6em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 2px;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.btn.line {
    /*border-radius: 3em;*/
    border-color: #111;
    color: #111;
    font-weight: bolder;
    background-image: -webkit-linear-gradient(top, transparent 50%, #111 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #111 50%);
    background-position: 0% 0%;
    background-size: 210%;
    -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
    transition: background 150ms ease-in-out, color 150ms ease-in-out;
}
.btn.line:hover {
    color: #fff;
    background-position: 0 100%;
}

.typical-bg{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.fill-above{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

.text-center{
    text-align: center;
}

.wrapper-container{
    max-width: 1200px;
    margin: auto;
}

.next-arrow{
    padding: 10px 0;
    position: relative;
    /*color: #fff;*/
    display: inline-block;
}

.next-arrow:before {
    content: "";
    height: 21px;
    left: 110%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 31px;
    transition: transform 0.4s;
    background-image: url(../images/nextwhite.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}

.next-arrow:hover:before {
    /*transform: translate(1rem, 0);*/
}

.lv-btn{
    padding: 10px 16px;
    font-size: 23px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    background: #fefefe;
    border: none;
}


.event{
    color: var(--app-accent1-color);/*#aadaf2;*/
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;

    position: relative;
    min-width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    margin-right: 35px;
    min-height: 160px;
    margin-bottom: 30px;
    padding: 35px;
    padding-right: 60px;
    border-radius: 4px;
    /*background-color: #323743;*/
    background-color: #914b4b;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .25);
    -webkit-transition: all 350ms cubic-bezier(.684, .217, .298, .937);
    transition: all 350ms cubic-bezier(.684, .217, .298, .937);
}

.event:hover {
    /*background-color: #2b303b;*/
    background-color: #7c4040;
    -webkit-transform: translate(0px, -5px) scale(1.015);
    -ms-transform: translate(0px, -5px) scale(1.015);
    transform: translate(0px, -5px) scale(1.015);
}

.event:hover .next-arrow:before{
    transform: translate(10px, 0);
}

.event .image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -35px;
    border-radius: 4px;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .25);
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.event .image img{
    width: 100px;
}

.event .date {
    margin-bottom: 10px;
    /*color: #d2d2e5;*/
    color: #dfbebe;
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.event .name{
    /*margin-bottom: 7px;*/
    font-size: 1.5em;
    line-height: 1.6em;
}

.event .excerpt {
    display: block;
    /*color: #6a7185;*/
    color: #bc9a9a;
    font-weight: 400;
    margin-top: 0;
    width: 70%;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
}

.event .next-arrow{
    color: var(--app-light-color);
}