html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;

    --app-main-color: #e6544e;
    --app-shade-color: #FF4242;
    --app-accent1-color: #FF837E;
    --app-accent2-color: #FFB4B4;
    --app-light-color: #ffe1d0;
    --app-contrast-color: #ffed75;
    --app-cool-white: #f9f9f9;
}

@font-face{
    font-family:Paint;
    src:url(../fonts/Age.otf);
    /*src:url(../fonts/Gipsiero_Kracxed.otf) format("embedded-opentype"),*/
    /*url(../fonts/Gipsiero_Kracxed.otf) format("woff2"),*/
    /*url(../fonts/Gipsiero_Kracxed.otf) format("woff"),*/
    /*url(../fonts/Gipsiero_Kracxed.otf) format("truetype")*/
}

@font-face {
    font-family: JohnHancockCP;
    src:url(../fonts/CODEBold.otf);
}


.faded-bg{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0.1;
    background-size: cover;
    background-position: center;
}

.header-text{
    font-family: Paint, serif;
    font-size: 3em;
    letter-spacing: 10px;
}

.hidden{
    display: none;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    /*color: #e74c3c;*/
    color: #2e3436;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 8px;
    padding: 0.5em 1.7em;
    padding-top: 0.6em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 2px;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.btn.line {
    /*border-radius: 3em;*/
    border-color: #111;
    color: #111;
    font-weight: bolder;
    background-image: -webkit-linear-gradient(top, transparent 50%, #111 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #111 50%);
    background-position: 0% 0%;
    background-size: 210%;
    -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
    transition: background 150ms ease-in-out, color 150ms ease-in-out;
}
.btn.line:hover {
    color: #fff;
    background-position: 0 100%;
}

.typical-bg{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.fill-above{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

.text-center{
    text-align: center;
}

.wrapper-container{
    max-width: 1200px;
    margin: auto;
}

.next-arrow{
    padding: 10px 0;
    position: relative;
    /*color: #fff;*/
    display: inline-block;
}

.next-arrow:before {
    content: "";
    height: 21px;
    left: 110%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 31px;
    transition: transform 0.4s;
    background-image: url(../images/nextwhite.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}

.next-arrow:hover:before {
    /*transform: translate(1rem, 0);*/
}

.lv-btn{
    padding: 10px 16px;
    font-size: 23px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    background: #fefefe;
    border: none;
}


.event{
    color: var(--app-accent1-color);/*#aadaf2;*/
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;

    position: relative;
    min-width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    margin-right: 35px;
    min-height: 160px;
    margin-bottom: 30px;
    padding: 35px;
    padding-right: 60px;
    border-radius: 4px;
    /*background-color: #323743;*/
    background-color: #914b4b;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .25);
    -webkit-transition: all 350ms cubic-bezier(.684, .217, .298, .937);
    transition: all 350ms cubic-bezier(.684, .217, .298, .937);
}

.event:hover {
    /*background-color: #2b303b;*/
    background-color: #7c4040;
    -webkit-transform: translate(0px, -5px) scale(1.015);
    -ms-transform: translate(0px, -5px) scale(1.015);
    transform: translate(0px, -5px) scale(1.015);
}

.event:hover .next-arrow:before{
    transform: translate(10px, 0);
}

.event .image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -35px;
    border-radius: 4px;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .25);
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.event .image img{
    width: 100px;
}

.event .date {
    margin-bottom: 10px;
    /*color: #d2d2e5;*/
    color: #dfbebe;
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.event .name{
    /*margin-bottom: 7px;*/
    font-size: 1.5em;
    line-height: 1.6em;
}

.event .excerpt {
    display: block;
    /*color: #6a7185;*/
    color: #bc9a9a;
    font-weight: 400;
    margin-top: 0;
    width: 70%;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
}

.event .next-arrow{
    color: var(--app-light-color);
}



/*FORM*/
.lv-form{
    display: inline-block;
    background: #fff;
    padding: 24px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.1);
    position: relative;
    border-radius: 4px;
    width: 450px;
}

.lv-form .form-title{
    padding: 20px 0;
    font-size: 20px;
    color: #000;
}

.lv-form input:not([type="submit"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]),
.lv-form select,
.lv-form textarea{
    width: 100%;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 8px;
}

.lv-form .required:before{
    content: "*";
    color: red;
}

.lv-form input:not([type="submit"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]),
.lv-form select, .lv-form textarea{
    display: block;
    margin-top: 8px;
    max-width: 100%;
}

.lv-form .layout{
    position: relative;
}

.lv-form label{
    display: block;
    margin: 20px 0;
    width: 100%;
    position: relative;
}

.lv-form .layout > label{
    width: 50%;
}

.lv-form .layout > label:first-child{
    margin-right: 20px;
    width: calc(50% - 20px);
}

.lv-form button:not(.tiny), .lv-form .btn{
    border-radius: 3px;
    padding: 13px 24px;
    background: #c61916;
    color: #fff;
    border: 1px solid #9c1a17;
    display: block;
    margin-left: auto;
    margin-bottom: 10px;
}

.lv-form button[disabled]{
    opacity: 0.5 !important;
}

.lv-form .back-btn{
    margin-left: 0;
    margin-right: auto;
    background-color: transparent;
    color: #c61916;
    border-color: #c61916;
}

.lv-form .btn{
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    letter-spacing: 0;
}

/*ALERT*/
.toast{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99999999999;
    -ms-align-items: center;
    align-items: center;
    display: none;
    pointer-events: none;
}
.toast.floating{
    position: fixed;
}
.toast.visible{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.toast-content{
    padding: 12px 16px;
    padding-right: 32px;
    display: inline-block;
    color: #fefefe;
    position: relative;
    margin: auto;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15);
}
.right .toast-content{
    margin: 0;
    margin-left: auto;
}
.toast-content a{
    display: none;
    pointer-events: auto;
    position: absolute; right: 10px; top: 7px; z-index: 1
}
.toast-content a svg{
    width:17px; height:17px
}
.toast.error .toast-content{
    background: red;
}
.toast.success .toast-content{
    /*#1ab561*/
    background: #0baf56; /*green*/;
}
.toast.info .toast-content{
    background-color: lightblue;
    color: #000;
}
.toast.info .toast-content svg{
    fill: #000;
}



/*TOP MENU*/
#menuToggler{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 9999;
    width: 40px;
    height: 40px;
    max-width: 45px;
    border-radius: 50%;
    position: fixed;
    right: 20px !important;
    top: 20px !important;
    align-self: flex-start;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    display: none;
    pointer-events: auto;
    outline: none;
}

#mobNav{
    position: fixed;
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    right: 0;
    top: 0;
    background: transparent;
    pointer-events: none;
}

body.show-nav{
    overflow: hidden;
}

body.show-nav #mobNav{
    pointer-events: auto;
    background-color: #ee4a4a;
}

body:not(.show-nav) #mobNav #theLinks{
    transform: translateX(100%);
}

#mobNav #theLinks{
    position: relative;
    padding: 80px 0;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    background:rgba(238,74,74,0.9);
    overflow-y: auto;
    transition: transform 0.15s ease-out;
}

#mobNav #theLinks a{
    color: #fbbeb9;
    padding: 24px 50px;
    font-family: "Gotham light", sans-serif;
    font-size: 1.5em;
}

#mobNav #theLinks a.active{
    /*font-family: "Gotham medium", sans-serif;*/
    color: #fff;
}

#mobLoginBtn{
    position: fixed;
    color: #fff;
    bottom: 0;
    right: 0;
    left: auto;
    width: 100%;
    max-width: 500px;
    height: 70px;
    font-size: 1.2em;
    letter-spacing: 3px;
    font-family: "Gotham bold", sans-serif;
    background: rgba(255, 96, 96, 0.6);
    transition: transform 0.15s ease-out 0.1s;
}

#mobNavTitle{
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    height: 75px;
    width: 100%;
    max-width: 500px;
    padding: 0 30px;
    font-family: "Gotham ultra", sans-serif;
    font-size: 1.5em;
    letter-spacing: 4px;
    background: rgba(255, 96, 96, 0.6);
    color: #fff;
}

body:not(.show-nav) #mobLoginBtn{
    transform: translateY(100%);
    transition: none;
}


@media all and (min-width: 769px) {
    #mobLoginBtn{
        display: none !important;
    }
}

@media all and (max-width: 768px) {
    #menuToggler{
        display: block !important;
    }

    #bannerTopBar {
        padding: 20px !important;
    }

    #bannerTopBar #title {
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(230, 84, 78, 0.7);
        padding: 20px;
        min-height: 75px;
        min-width: 75px;
        z-index: 100;
    }

    #bannerTopBar #title img {
        height: 35px !important;
    }

    #bannerTopBar #links,
    #bannerTopBar #authOptions {
        display: none !important;
    }

    #navMob > a {
        position: relative;
        left: 0 !important;
        display: block;
        color: #000 !important;
        width: 100%;
    }

    #navMob > a.active {
        background: rgba(0, 0, 0, 0.1) !important;
    }

    #bottomContent{
        overflow: hidden;
        text-align: center !important;
    }

    #connect h2{
        letter-spacing: 5px !important;
        font-size: 2em !important;
        padding: 0 4em;
    }

    #connect p{
        font-size: 1.3em !important;
        padding: 0 1em;
    }

    #connect #socialIcons{
        display: inline-block !important;
    }

    #connect #socialIcons .social-icon{
        padding: 0 !important;
        width: auto !important;
        margin: 10px;
        margin-top: 20px;
    }

    #connect #socialIcons .social-icon:not(:hover) .icon{
        -webkit-filter: none !important;
        filter: none !important;
    }

    #footer{
        height: auto !important;
        padding: 30px 10px !important;
        flex-direction: column;
        justify-content: flex-start !important;
        /*align-items: flex-start !important;*/
    }

    #footer > span{
        padding: 20px 0;
    }
}