<style>
    #artistImage{
        position: relative;
        min-width: 35%; max-width: 35%;
        height: 650px;
    }

    #artistImage #image{
        position: absolute;
        width: 160%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-background-size: cover;
        background-size: cover;
        background-color: #ccc;

        -webkit-transition: all 0.35s ease-out;
        -moz-transition: all 0.35s ease-out;
        -ms-transition: all 0.35s ease-out;
        -o-transition: all 0.35s ease-out;
        transition: all 0.35s ease-out;
    }

    #artistInfo{
        padding: 0 2em;
        padding-top: 6em;
        background: rgba(255, 255, 255, 0.8);
        margin-left: -100%;
        padding-left: 100%;
        padding-right: 5%;
    }

    .artist-name{
        font-family: "Gotham ultra", sans-serif;
        font-size: 2.5em;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 20px;
        line-height: 1.3em;
    }

    .artist-bio{
        font-family: "Gotham thin", sans-serif;
        font-size: 1.5em;
        color: #555;
        line-height: 2em;
    }
</style>
<div style="padding-top: 2em;margin-bottom: 6em; backgroun: #ff4d4d;">
    <div class="container">
        <div class="layout justified">
            <div id="artistImage">
                <div id="image" style="background-image: {{artistImage()}}"></div>
            </div>
            <div class="layout vertical" id="artistInfo">
                <h1 class="artist-name">{{artist.name}}</h1>
                <p class="artist-bio">{{artist.bio}}</p>
                <div style="margin-left: auto; margin-top: 20px; border-top: 1px solid #ddd; padding: 20px 10px; margin-right: 30px;">
                    <a href="#" title="Facebook">
                        <i class="fa fa-facebook-square" style="color: #3b5998;"></i>&nbsp;
                        {{artist.shortname}}&nbsp;
                    </a>
                    <a href="#" title="Instagram">
                        <i class="fa fa-instagram" style="color: #222;"></i>&nbsp;
                        {{artist.name}}&nbsp;
                    </a>
                    <a href="#" title="Twitter">
                        <i class="fa fa-twitter-square" style="color: #55acee"></i>&nbsp;
                        {{artist.shortname}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>