<div id="show">
    <div style="height: 25em; background: #f5f5f5; position: absolute; width: 100%;"></div>
    <div id="appBar">
        <div class="container">
            <h1>
                {{vm.showInfo.name}}
            </h1>
            <p>
                <span ng-if="!vm.longDesc">{{vm.showInfo.description | limitTo: 60}}<span ng-if="vm.showInfo.description.length > 60">...</span></span><span ng-if="vm.longDesc">{{vm.showInfo.description}}</span><a href="javascript:void(0);" style="color: #1d2e9c;" ng-click="vm.toggleDesc()" ng-hide="vm.showInfo.description.length <= 60">Read {{!vm.longDesc ? 'more' : 'less'}}</a>
            </p>
        </div>
    </div>
    <div class="container">
        <section class="channel-items layout wrap">
            <a href="#!/shows/{{vm.show_id}}/{{episode.id}}"
               class="channel-item" style="position: relative;"
               ng-repeat="episode in vm.episodes">
                <div class="channel-cover-image" style="background-position: center;background-image: url({{episode.cover}})"></div>
                <div class="fill-above caption layout vertical">
                    <div class="bg flex"></div>
                    <div class="text layout vertical">
                        <h3>{{episode.name}}</h3>
                        <!--<span>{{episode.date}}</span>-->
                    </div>
                </div>
            </a>
        </section>
    </div>

    <div id="pageSpacer" style="height: 5em"></div>
</div>