<style>
    body{
        background: #fff;
    }

    #show{
        position: relative;
        min-height: 100vh;
    }

    #bg{
        overflow: hidden;
    }

    #bg .fill-above{
        background: rgba(52, 25, 25, 0.9);
    }

    .container{
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    #show #title{
        padding-top: 8.5em;
        padding-bottom: 1.5em;
    }

    #show #title span{
        color: #e0e0e0;
        font-size: 1.1em;
    }

    #show #title h1{
        color: #f8f8f8;
        font-size: 2em;
        /*letter-spacing: 2px;*/
        font-family: "Gotham bold", sans-serif;
        margin-bottom: 0.2em;
    }

    #show #nav{
        background: #f3f3f3;
        padding: 24px 0;
    }

    #show #nav a{
        position: relative;
        color: #333;
        font-size: 1em;
        margin-right: 28px;
        letter-spacing: 2px;
    }

    #show #nav a.active{
        color: var(--app-main-color);
    }

    #show #nav a:not(:last-child):after{
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #000;
        right: -14px;
    }

    #show .channel-items{
        margin-top: 2em;
        margin-left: -10px;
        width:calc(100% + 20px);
    }

    #show .channel-items .channel-item{
        width: calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        height: 280px;
        overflow: hidden;
        margin: 10px;
    }

    .channel-item .channel-cover-image{
        background: #ccc;
        width: 100%; min-height: 100%
    }

    .channel-item .caption .text{
        padding: 16px 0;
        background: #ffffff;
    }

    .channel-item .caption .text h3{
        font-family: "Gotham bold", sans-serif;
        color: #000;
        margin-bottom: 2px;
        font-size: 1em;
    }

    #appBar{
        /*height: 13em;*/
        /*height: 10em;*/
        padding-top: 10em;
        margin-bottom: 3em;
    }

    #appBar h1{
        font-family: "Gotham bold", sans-serif;
        font-size: 2em;
        margin-bottom: 10px;
        color: #000;
    }

    #appBar p{
        color: #000;
        font-size: 1.4em;
        font-family: "Gotham light", serif;
        /*letter-spacing: 2px;*/
        max-width: 35em;
    }
</style>

<div id="show">
    <div style="height: 25em; background: #f5f5f5; position: absolute; width: 100%;"></div>
    <div id="appBar" class="layou end">
        <div class="container">
            <h1>
                {{vm.showInfo.name}}
            </h1>
            <p>
                <span ng-if="!vm.longDesc">{{vm.showInfo.description | limitTo: 60}}<span ng-if="vm.showInfo.description.length > 60">...</span></span><span ng-if="vm.longDesc">{{vm.showInfo.description}}</span><a href="javascript:void(0);" style="color: #1d2e9c;" ng-click="vm.toggleDesc()" ng-hide="vm.showInfo.description.length <= 60">Read {{!vm.longDesc ? 'more' : 'less'}}</a>
            </p>
        </div>
    </div>
    <div class="container">
        <section class="channel-items layout wrap">
            <a href="#!/shows/{{vm.show_id}}/{{episode.id}}"
               class="channel-item" style="position: relative;"
               ng-repeat="episode in vm.episodes">
                <div class="channel-cover-image" style="background-position: center;background-image: url({{episode.cover}})"></div>
                <div class="fill-above caption layout vertical">
                    <div class="bg flex"></div>
                    <div class="text layout vertical">
                        <h3>{{episode.name}}</h3>
                        <!--<span>{{episode.date}}</span>-->
                    </div>
                </div>
            </a>
        </section>
    </div>

    <div style="height: 5em"></div>
</div>